{
  "extends": [
    "payfit",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.js", "scripts/*.js"],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}
